<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<i>Fill out the form</i>
<br>
<br>
<form th:action="@{/processCustomerForm}" th:object="${customer}" method="post">
    First Name:<input type="text" th:field="*{firstName}"><br>

    Last Name*:<input type="text" th:field="*{lastName}"><br>
    <!--add error message-->
    <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

    CourseCode:<input type="text" th:field="*{courseCode}">
    <!--add error message-->
    <div th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}"></div>
    <input type="submit" value="Submit">

</form>
</body>
</html>